<h1 class='serif'> Doggies! </h1>
<h2 class='serif'>Introduction</h2>
<p class='sansserif'>The dog (Canis familiaris when considered a distinct species or Canis lupus familiaris when considered a subspecies of the wolf) is a domesticated carnivore of the family Canidae. It is part of the wolf-like canids, and is the most widely abundant terrestrial carnivore. The dog and the extant gray wolf are sister taxa as modern wolves are not closely related to the wolves that were first domesticated, which implies that the direct ancestor of the dog is extinct. The dog was the first species to be domesticated,and has been selectively bred over millennia for various behaviors, sensory capabilities, and physical attributes.</p>

<h2 class='serif'>Pictures</h2>
<img src='assets/animal-5626325_1280.jpg'/> <br>
<img src='assets/Dog_Breeds.jpg'/> <br>
<img src='assets/dog-3407906_1280.jpg'/> <br>
<img src='assets/My_dog.jpg'/> <br>
<img src='assets/pomeranian-dog-brown-white-baby-breed.jpg'/>

<h2 class='serif'>Audio</h2>
<audio controls>
  <source src="assets\bark.mp3" type="audio/mpeg">
Your browser does not support the audio element.
</audio>

<h2 class='serif'>Video</h2>
<video width="320" height="240" controls>
  <source src="assets\mixkit-person-inside-a-tent-with-dog-576.mp4" type="video/mp4">
Your browser does not support the video tag.
</video>